<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<title>Health Promotion Sign In</title>
	
	<script type="text/javascript">
		function validate(){
					var username = userLogin.username.value.trim();
					var password = userLogin.password.value.trim();
					
					if(username.equals("") || password.equals("")){
						alert("Must enter a username and password.")
						return(false);
					}
					return(true);
				}
	</script>
	
</head>
<body>
	
	<!--
		- Need to add validation for onsubmit to ensure user is registered
		- Change action attribute to call proper files when ready, I currently 
		have it directing straight to the userHome.html file for simplicity.
	-->
	
	<div class = "col-md-4 col-md-offset-4">
		
		<form method = "POST" name = "userLogin" th:action="@{/userSignIn}" onsubmit="return(validate());">
			<h1 style="text-align: center;"><u>Health Promotion Central</u><br><br></h1>
			<h1>Sign In</h1>
		
			
			<div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" type="text" placeholder="Registered username or email">
            </div>

           <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" type="password">
           </div>
           
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit" style="max-width: 200px; margin:0 auto;">Sign In</button>
            </div>
	
		</form>
		
		<p style="text-align:center;">Don't have an account? <a href = "userRegistration.html">Register New Account!</a></p>
	</div>
</body>
</html>