<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <script>
    'use strict'

    function checkCredentials(form){
        /*
          code below will be separated into another file
          and remodeled on the final stage of the client-side validation.
        */ 

        // const form = document.getElementById("form1");
        // const nameOfUser = document.getElementById("name");
        // const userName = document.getElementById("username");
        // const emailAddress = document.getElementById("email");
        // const password = document.getElementById("password");
        const emailPattern = /^[^ ]+@[^ ]+\.[a-z]{2,3}$/;

        //trimming to eliminate white space of user input
        // const nameValue = nameOfUser.value.trim();
        // const userNameValue = userName.value.trim();
        // const emailValue = emailAddress.value.trim();
        // const passwordValue = password.value.trim();

        if(form.name.value == ""){
            alert('name cannot be left blank');
            form.name.focus();
            return false;
            
        }

        if(form.username.value == ""){
            alert('username cannot be left blank');
            form.username.focus();
            return false;
        }

        if(form.email.value == ""){
            alert('email cannot be left blank');
            form.email.focus();
            return false;
        }

        if(form.password.value == ""){
            alert('password cannot be left blank');
            form.password.focus();
            return false;
        }else if(form.password.value.length < 8){
            alert('password is too short');
            form.password.focus();
            return false;
        }

        if(form.email.value.match(emailPattern)){
            return true;
        }else{
            alert('Invalid email');
            form.email.focus();
            return false;
        }

    }

    /* Function to be implemented for better warning messages
        on final stage of client-side validation.
    */
    function setCredentialErrorMessage(input, message){
    
    }


    </script>
    <div class ="col-md-4 col-md-offset-4">
        <form id= "form1" th:action="@{/registration}" th:object="${newUser}" method="POST" onsubmit="return checkCredentials(this)">
            <h1>Sign Up</h1>

            <div class="form-group">
                <label for="name">Name</label>
                <input class="form-control" id="name" name="name" type="text" th:field="*{name}" placeholder="first and last name">
            </div>

           <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" id="username" name="username" th:field="*{userName}" type="text">
           </div>

            <div class="form-group">
                <label for="email">Email Address</label>
                <input class="form-control" id="email" name="email" type="text" th:field="*{email}">
                <small id="emailHelp" class="form-text text-muted">Your email will not be shared with anyone else</small>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" id="password" name="password" th:field="*{password}" type="text">
            </div>

			<!-- will re-add after validation 
            <div class="form-group">
                <label for="re-password">Re-enter Password</label>
                <input class="form-control" id="re-password" name="re-password" th:field="*{password}" type="text">
            </div>
          	-->
            
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Create Account</button>
            </div>
        </form>
        
        <p>Already have an account? <a href="index.html">Sign-In</a></p>
    </div>
    
</body>
</html>